Hello {{ user.get_full_name|default:user.get_username }},

You're receiving this email because you requested a password reset for your user account at {{ school_name|default:"SchoolPadi" }}.

Please go to the following page and choose a new password:
{% if tenant_path %}{{ protocol }}://{{ domain }}/{{ tenant_path }}/reset/{{ uid }}/{{ token }}/{% else %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endif %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this change, you can safely ignore this email.

Best regards,
The SchoolPadi Team
